*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    }
    #container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 60px;
        position:fixed;
        width: 100%;
        background-color:black;
        z-index: 1;
    }
    
    #first {
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        opacity: 0.9;
    
    }
    #click1
    {
        display: none;
    }
    
    .navbar {
        color: white;
        margin: 0px 60px;
        background-color: rgb(54, 52, 52);
        border:2px solid black;
        border-radius: 10px;
        padding: 6px;
        cursor: pointer;
    
    }
    .navbar:hover
    {
        background-color: rgb(192, 177, 206);
        color: black;
    }
    
    a:hover
    {
        color: black;
    }
    #burger {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        display: none;
        right: 30px;
    }
    
    .line {
        height: 3px;
        margin: 2px;
        width: 26px;
        background-color: white
    }
    
    @media(max-width:1000px) {
        #first {
            top: 140px;
            width: 100%;
            position: relative;
            flex-direction: column;
            height: 230px;
            background-color:black;
            justify-content: center;
            align-items: center;
            left: -100%;
            transition: 2s ease-in-out;
        }
        .navbar
        {
            font-size: small;
            margin: 5px 0px;
        }
    
        #burger {
            display: block;
        }
    
        #click1
        {
            display: none;
        }
    
        #container {
            justify-content: center;
            align-items: center;
            height: 50px;
            background-color: black
        }
    
        #click1:checked ~ #first {
            left: 0%;
        }
    }
a
{
    color: white;
}

.hr1
{
    color: black;
    width:1000px;
    height: 4px;
    background-color: brown;
}
.heading
{
    transition: all 1s ease-in-out;
}
.heading:hover{
transform: translateX(120px);
}
#first-container
{
    display: flex;
    background: rgb(231, 231, 170);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(12, 11, 11);
    height:auto;
    width: 100%;
    font-family: 'Baloo Bhai 2', cursive;
    /* border: 2px solid red; */
    
}
#first-container .heading
{
    margin-top: 20px;
}
.image1 , .img1, #left a
{
    transition: all 1000ms ease-in-out;
}
.image1:hover{
    transform:scale(1.2);
    border-radius: 50%;
    box-shadow: 5px 20px 26px #640707;
}

.first-box1
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px 30px;
}
.first-box1 img
{
    height:130px;
    width: 120px;
    margin: 20px;
    border-radius: 20px;
}

.description
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px 30px;
    flex-direction: row;
    padding:20px;
}
 #second-container{

    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    margin:10px 10px;;
    flex-direction: column;
    font-weight: 100;
    font-size: 18px;
    background-color: #e0d7d7;
    font-family: 'Baloo Bhai 2', cursive;

}

#second-container a{
    color: brown;
}
 .heading h1
{
    font-family: 'Satisfy', cursive;
    margin-top: 40px;
}
.center
{
    text-align: center;
}
i{
    color: rgb(122, 13, 50);
}
#second-heading

{
    display: flex; 
    align-items: center;
    justify-content: center;
    
}
#second-heading p{
    padding:30px 203px;
}
#second-image
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container_image
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row
}
@media(max-width:1084px) {
    .container_image
    {
        flex-direction: column;
    }
}
#second-container .img1
{
    margin: 20px;
    border-radius: 20px;
}
#second-container img
{
    transition: all 1s ease-in-out;
}
#second-container .img1 img:hover{
    transform:scale(1.2);
    box-shadow: 5px 26px 26px #640707;
    border-radius: 50%;
}
#second-container .img1 img
{
    height: 300px;
    width:200px;
    margin:5px;
    border-left: green;
    border-bottom: rgb(148, 19, 109);
    border-right: blue;
    border-top: red;
    border-style: solid;
    border-radius: 20px;
}

#third-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 0px 10px;
    border-radius: 10px;
    font-family: 'Baloo Bhai 2', cursive;
    border-left: green;
    border-bottom: rgb(148, 19, 109);
    border-right: blue;
    border-top: red;
    border-style: solid;
    font-size: 19px;
    background-color: #e4cfcf;
    font-family: 'Baloo Bhai 2', cursive;
} 
#skills
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#left
{   display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

}
#left img{
    margin: 20px;
    height: 450px;
    max-width: 330px;
    border-radius: 5px;
    border-left: green;
    border-bottom: rgb(148, 19, 109);
    border-right: blue;
    border-top: red;
    border-style: solid;
    border-radius: 20px;
}


#left a:hover
{  
transform:scale(1.2)
}
#right
{
    margin: 20px;
    height:auto;
    width: 323px;
    border-radius: 5px;
    border-left: green;
    border-bottom: rgb(148, 19, 109);
    border-right: blue;
    border-top: red;
    border-style: solid;
    border-radius: 20px;

}


.right_description
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    max-width: 700px;
    padding:10px;
}
.right_description strong{
    padding:2px 0px;
}

.container2
{
    background-color: black;
    height: 145px;
}
#quote
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.container2 #quote h1{
    color: white;
    padding:30px;
    font-family: 'Baloo Bhai 2', cursive;  
}

footer {
    border: 2px dotted white;
    display: flex;
    height: 50px;
    border-radius: 20px;
    justify-content: center;
    align-items: center; 
}

footer .box3 img
{
    height: 40px;
    width: 40px;
    margin: 10px 30px;
}
footer img:hover
{
    border: 2px blue solid;
    border-radius: 50%; 
} 