*
{
margin: 0px;
padding: 0px;
box-sizing: border-box;
text-decoration: none;
}
#container_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    position:fixed;
    width: 100%;
    background-color:black;
    z-index: 1;
}

#first_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0.9;

}
#click1
{
    display: none;
}

.navbar {
    color: white;
    margin: 0px 60px;
    background-color: rgb(54, 52, 52);
    border:2px solid black;
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
}
.navbar:hover
{
    background-color: rgb(192, 177, 206);
}
a{
    color: white;
}
a:hover{
color:black;
}
#burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: none;
    right: 30px;
}

.line {
    height: 3px;
    margin: 2px;
    width: 26px;
    background-color: white
}

@media(max-width:1000px) {
    #first_nav {
        top: 140px;
        width: 100%;
        position: relative;
        flex-direction: column;
        height: 230px;
        background-color:black;
        justify-content: center;
        align-items: center;
        left: -100%;
        transition: 2s ease-in-out;
    }
    .navbar
    {
        font-size: small;
        margin: 5px 0px;
    }

    #burger {
        display: block;
    }

    #click1
    {
        display: none;
    }

    #container_nav {
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: black
    }

    #click1:checked ~ #first_nav {
        left: 0%;
    }
}

#container::before
{
    content: "";
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0.7;
    width: 100%;
    height: 1365px;
    position: absolute;
   background: black;
}
#container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width:100%;
    flex-wrap: wrap;
}
.containers1
{
    margin-top: 100px;
}
.container1
{
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 1200px;
    justify-content: center;
    align-items: center;   
    flex-wrap: wrap;

}
.contain1
{
    height: 360px;
    width: 300px;
    border:2px solid yellow;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contain1 img{
    width: 289px;
    height: 352px;
    transition: all 1s ease-in-out;
    
}
.contain1 img:hover
{
    transform:scale(1.2);
    box-shadow: 5px 26px 26px #640707;
}
footer {
    background-color: black;
    border: 2px dotted white;
    display: flex;
    height: 60px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;  
}
footer .box3 img
{
    height: 40px;
    width: 40px;
    margin: 10px 30px;
}
footer img:hover
{
    border: 3px blue solid;
    border-radius: 50%;
}
 
