*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
text-decoration: none;
}
#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    position:fixed;
    width: 100%;
    background-color:black;
    z-index: 1;
}

#first {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0.9;

}
#click1
{
    display: none;
}

.navbar {
    color: white;
    margin: 0px 60px;
    background-color: rgb(54, 52, 52);
    border:2px solid black;
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
}
.navbar:hover
{
    background-color: rgb(192, 177, 206);
}
a
    {
        color: white;
    }
    a:hover{
        color: white;
    }


#burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: none;
    right: 30px;
}

.line {
    height: 3px;
    margin: 2px;
    width: 26px;
    background-color: white;
}

@media(max-width:1000px) {
    #first {
        top: 52px;
        width: 100%;
        position: fixed;
        flex-direction: column;
        height: 230px;
        background-color: black;
        justify-content: center;
        align-items: center;
        left: -100%;
        transition: 2s ease-in-out;
    }
    .navbar
    {
        font-size: small;
        margin: 5px 0px;
    }
    
    #burger {
        display: block;
    }

    #click1
    {
        display: none;
    }

    #container {
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: black
    }

    #click1:checked ~ #first {
        left: 0%;
    }
}

#profile-container
{
    display: flex;
    font-family: 'Baloo 2', cursive;
    width: 100%;
    height: 100vh;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
#profile-container::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(../cv_pic/black3.jpg)  no-repeat center center/cover;
    top:0px;
    left: 0px;
    z-index: -1;
    opacity: 0.9;
    
}
#profile-container #logo

{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-style: solid;
    border-left: green;
    border-bottom: tomato;
    border-right: rgb(196, 196, 71);
    border-top: blue;
    /* border-radius: 1rem; */
    border-style: solid;
    box-shadow:  8px 8px 2px #313175;
    position: relative;
    animation-name: Abhi;
    animation-duration: 5s; /* less time fast speed , less time slow speed*/
    animation-iteration-count: 2;/*no. of times runs*/
    animation-delay: 1s;
    animation-timing-function: ease-in-out;

}
@keyframes Abhi {
    0%
    {
        left:0px;
        top:0px;
        border-radius: 50%;
        border: 2px solid green;
        transform: rotate(34deg);
        box-shadow:  8px 8px 2px rgb(202, 86, 86);
    }
    25%
    {
        left:255px;
        top:0px;
        border-radius: 50%;
        border: 2px solid indigo;
        transform: rotate3d();
    }
    75%
    {
        left:255px;
        top:40px;
        border-radius: 50%;
        border: 2px solid firebrick;
        transform: rotate3d();
        box-shadow:  8px 8px 2px rgb(23, 172, 102);
    }
    100%
    {
        top:40px;
        left: 0px;
        border-radius: 50%x;
        border: 2px solid yellow;
        transform: rotate3d();
    }
}
#profile-container .bottom
{
    display:flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    margin-top:30px;  
}
#profile-container .bottom  img
{
    height: 28px;
    width: 35px;
    margin-left: 10px;
}
#profile-container .image 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

span
{
margin: 10px
}

 h2
{
    padding: 10px 80px;
    font-family: 'Satisfy', cursive;  
}

 h1
{
    padding: 10px 50px;
    font-family: 'Satisfy', cursive;
}
.center
{
    text-align: center;
}

footer 
{
    background-color: black;
    border: 2px dotted white;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 60px;
}

footer .box3 img
{
    height: 40px;
    width: 40px;
    margin: 10px 30px;
}
footer img:hover
{
    border: 3px blue solid;
    border-radius: 50%;
    
}