*{
margin: 0px;

box-sizing: border-box;
}
#navbar
{
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    font-family: 'Kalam', cursive;
    background-color: gray;
    /* position: relative; */
    
}
#navbar a:hover{
    color: rgb(143, 107, 125);
    background-color: black;
    border-radius: 20%;
    font-size: 23px;
    border-left: rgb(24, 100, 24);
    border-bottom: rgb(104, 35, 23);
    border-right: rgb(221, 221, 19);
    border-top: blue;
    border-style: solid;
}
.box1
{
    margin:15px 12px;
    
}
#navbar a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    
}

#navbar .box2{
    position: absolute;
    right: 10px;
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
}
#navbar .box2 a img{
    height: 40px;
    width: 40px;
    margin-top: 10px;
    border: 1px solid white;
}


#profile-container
{
    /* border: 2px solid red; */
    display: flex;
    font-family: 'Baloo 2', cursive;
    width: 100%;
    height: 800px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}
#profile-container::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 800px;
    background: url(../cv_pic/black3.jpg)  no-repeat center center/cover;
    top:0px;
    left: 0px;
    z-index: -1;
    opacity: 0.9;
    
}
#profile-container #logo

{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-style: solid;
    border-left: green;
    border-bottom: tomato;
    border-right: rgb(196, 196, 71);
    border-top: blue;
    /* border-radius: 1rem; */
    border-style: solid;
    box-shadow:  8px 8px 2px #313175;
    position: relative;
    animation-name: Abhi;
    animation-duration: 5s; /* less time fast spped , less time slow speed*/
    animation-iteration-count: 1;/*no. of times runs
    /*animation-iteration-count: infinite; running continuously*/
        animation-delay: s;
    animation-timing-function: ease-in-out;

}
@keyframes Abhi {
    0%
    {
        left:0px;
        top:0px;
        /* background-color: rgb(238, 253, 31); */
        border-radius: 50%;
        border: 2px solid green;
        transform: rotate(34deg);
        box-shadow:  8px 8px 2px rgb(202, 86, 86);
    }
    25%
    {
        left:255px;
        top:0px;
        border-radius: 50%;
        border: 2px solid indigo;
        transform: rotate3d();
    }
    75%
    {
        left:255px;
        top:40px;
        border-radius: 50%;
        border: 2px solid firebrick;
        transform: rotate3d();
        box-shadow:  8px 8px 2px rgb(23, 172, 102);
    }
    100%
    {
        top:40px;
        left: 0px;
        border-radius: 50%x;
        border: 2px solid yellow;
        transform: rotate3d();
    }

}
#profile-container .bottom
{
    display:flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    margin-top:30px;
    /* border: 2px solid green; */
    
}
#profile-container .bottom  img
{
    height: 28px;
    width: 35px;
    margin-left: 10px;
}
#profile-container .image 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
margin: 10px
}

 h2
{
    padding: 10px 80px;
    font-family: 'Satisfy', cursive;
    
}

 h1
{
    padding: 10px 50px;
    font-family: 'Satisfy', cursive;
}
.center
{
    text-align: center;
}
.container2
{
    background-color: black;
    height: 80px;
}
footer {
    background-color: black;
    border: 2px dotted white;
    /* border-style: double; */
    display: flex;
    border-radius: 45px;
    justify-content: center;
    align-items: center;
    /* margin: 0px 45px; */
    /* background-color: /black; */
  
}
footer .box3 img
{
    height: 50px;
    width: 50px;
    margin: 10px 30px;
}
footer img:hover
{
    border: 3px blue solid;
    border-radius: 50%;
    
}