*
{
margin: 0px;
padding: 0px;
box-sizing: border-box;
text-decoration: none;
}
a
{
    color: white;
}
#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    position:fixed;
    width: 100%;
    background-color:black;
    z-index: 1;
}

#first {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    opacity: 0.9;

}
#click1
{
    display: none;
}

.navbar {
    color: white;
    margin: 0px 60px;
    background-color: rgb(54, 52, 52);
    border:2px solid black;
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
}
.navbar:hover
{
    background-color: rgb(192, 177, 206);
    
}
a:hover{
color: black;
}
#burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: none;
    right: 30px;
}

.line {
    height: 3px;
    margin: 2px;
    width: 26px;
    background-color: white
}

@media(max-width:1000px) {
    #first {
        top: 144px;
        width: 100%;
        position: relative;
        flex-direction: column;
        height: 230px;
        background-color:black;
        justify-content: center;
        align-items: center;
        left: -100%;
        transition: 2s ease-in-out;
    }
    .navbar
    {
        font-size: small;
        margin: 5px 0px;
    }

    #burger {
        display: block;
    }

    #click1
    {
        display: none;
    }

    #container {
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: black
    }

    #click1:checked ~ #first {
        left: 0%;
    }
}

#profile-container
{
    display: flex;
    font-family: 'Baloo 2', cursive;
    width: 100%;
    height: 900px;
    position: relative;

}
#profile-container::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 900px;
    background: url(../cv_pic/black4.jpg)  no-repeat center center/cover;
    top:0px;
    left: 0px;
    z-index: -1;
    
}
.text{
    
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    margin:10px 30px;
    justify-content: center;
    align-items: center;
    color: white;   
}

#profile-container #mypic
{
    width: 300px;
    height: 704px;
    margin: 80px 150px;
    border-radius: 200px;
    transition: all 1s ease-in-out;
    

}
#mypic:hover
{
    transform: translateX(100px);
    box-shadow: 10px 20px 20px #591e1e;
}
#profile-container  img
{
    height: 28px;
    width: 35px;
    margin-left: 10px;
}
.image
{
    display: flex;
    align-items: center;
}
span{
margin: 10px
}


 h2
{
    padding: 10px 80px;
    font-family: 'Satisfy', cursive;
}

 h1
{
    padding: 10px 50px;
    font-family: 'Satisfy', cursive;
}
.center
{
    text-align: center;
}
.container2
{
    background-color: black;
    height: 185px;
}
#quote
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.container2 #quote h1{
    color: white;
    padding:30px 0px;
}

footer {
    border: 2px dotted white;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center; 
}
footer{
    margin:10px 1px;
    height: 60px;
}
footer .box3 img
{
    height: 40px;
    width: 40px;
    margin: 10px 30px;
}
footer img:hover
{
    border: 2px blue solid;
    border-radius: 50%;
    
}