*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
#profile-container
{
    height: 875px;
    flex-direction: column;
}
#profile-container::before
{
    height: 875px;
}

#profile-container #mypic
{
    height: 354px;
    width: 142px;
    display: block;
    margin: 102px auto 0px auto;
}
span{
    margin-left:10px;
}
.image
{
    height: 57px; 
}
h2
{
    padding: 3px 10px;
    font-family: 'Satisfy', cursive;
    font-size: 13px;
}
h1
{
    font-family: 'Satisfy', cursive;
    font-size: 13px;
}
.container2 #quote h1
{
    margin: 0px 10px;
    font-size: 13px;
    padding:10px;

}
.container2 {
    background-color: black;
    height: 112px;
}
footer{
    height: 40px;
}
footer .box3 img
{
    height: 30px;
    width: 30px;
    margin: 5px 10px;
}

