
#navbar
{
    flex-direction: column;
    height: 130px;
}
#navbar .box1 , .box2
{
margin: 1px auto;
}
.box1
{
    margin:-10px auto;
}
#navbar a{
    font-size: 20px;
}
#profile-container
{
    height: 894px;
    flex-direction: column;
}
#profile-container::before
{
    height: 894px;
}

#profile-container #mypic
{
    height: 354px;
    width: 142px;
    display: block;
    margin: 20px auto;
}
span{
    margin-left:10px;
}
.image
{
    height: 57px; 
}
h2
{
    padding: 3px 10px;
    font-family: 'Satisfy', cursive;
    font-size: 18px;
}
h1
{
    padding: 5px 50px;
    font-family: 'Satisfy', cursive;
    font-size: 18px;
}
#quote h1
{
    margin: 0px 20px;
    font-size: 18px;

}
.container2 {
    background-color: black;
    height: 174px;
}
footer .box3 img
{
    height: 38px;
    width: 30px;
    margin: 5px 10px;
}

